set -eu
source .envrc.secrets

export AWS_ACCESS_KEY_ID
export AWS_SECRET_ACCESS_KEY
export AWS_DEFAULT_REGION="${AWS_REGION}"

export TF_BACKEND_BUCKET

export TF_VAR_aws_account_id="${AWS_ACCOUNT_ID}"
export TF_VAR_aws_region="${AWS_REGION}"
export TF_VAR_project_name="${PROJECT_NAME}"
